<ul class="nav justify-content-center  bg-dark mb-5">
  <li class="nav-item m-2 ">
    <button class="btn  btn-primary "  (click)="gohome()">Home</button >
  </li>
  <li class="nav-item m-2">
    <button class=" btn btn-primary  " (click)="goabout()">About</button >
  </li>
  <li class="nav-item m-2">
    <button class=" btn btn-primary  " (click)="gogalary()">Galary</button >
  </li>
</ul>

 <div class="row container">
<div class="col-md-3"></div>
<div class="col-md-9">
  <!-- <app-home></app-home>
<app-about></app-about>
<app-galary></app-galary>
<app-error></app-error> -->
<router-outlet></router-outlet>
</div>

 </div>